<h4>Social Media</h4>
<ul class="fa-ul">
  <li><i class="fa fa-linkedin fa-lg fa-li" style="color: #007bb6"></i><a href="http://www.linkedin.com/in/njdcourtney">LinkedIn</a></li>
	<li><i class="fa fa-facebook-square fa-lg fa-li" style="color: #3b5998"></i><a href="https://www.facebook.com/nathan.courtney">Facebook</a></li>
	<li><i class="fa fa-twitter fa-lg fa-li" style="color: #00aced"></i><a href="https://twitter.com/njdcourtney">Twitter</a></li>
	<li><i class="fa fa-google-plus fa-lg fa-li" style="color: #dd4b39"></i><a href="https://plus.google.com/u/0/117231199434787742406/">Google+</a></li>
	<li><i class="fa fa-github fa-lg fa-li"></i><a href="https://github.com/njdcourtney">GitHub</a></li>
</ul>
