<h4>Social Media</h4>
<ul class="list-unstyled">
  <li><a href="http://www.linkedin.com/in/njdcourtney"><i class="fa fa-linkedin fa-lg" style="color: #007bb6"></i> LinkedIn</a></li>
	<li><a href="https://www.facebook.com/nathan.courtney"><i class="fa fa-facebook-square fa-lg" style="color: #3b5998"></i> Facebook</a></li>
	<li><a href="https://twitter.com/njdcourtney"><i class="fa fa-twitter fa-lg" style="color: #00aced"></i> Twitter</a></li>
	<li><a href="https://plus.google.com/u/0/117231199434787742406/"><i class="fa fa-google-plus fa-lg" style="color: #dd4b39"></i> Google+</a></li>
	<li><a href="https://github.com/njdcourtney"><i class="fa fa-github fa-lg"></i> GitHub</a></li>
</ul>
