---
layout: default
title: Blog Posts Index
---

<div class="row">

<!-- This loops through the paginated posts -->
{% assign loopindex = 0 %}
{% for post in paginator.posts %}
        {% assign loopindex = loopindex | plus: 1 %}
        <div class="col-sm-6">            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </div>
                <div class="panel-body">
                    <p class="text-right">Posted on {{ post.date | date: '%B %-d, %Y' }}</p>
                    <p>{{ post.excerpt }}</p>
                    <p class="text-right">(<a href="{{ post.url }}">Read more...</a>)</p>
                </div>
            </div>            
        </div>
        {% assign rowfinder = loopindex | modulo: 2 %}
        {% if rowfinder == 0 %}
            <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
        {% endif %}
{% endfor %}
    
    </div>


{% if paginator.total_pages > 1 %}
<div class="row">
<div class="col-sm-8 col-sm-offset-2 text-center">
    <ul class="pagination pagination-lg">
    {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
            <li><a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    </ul>
</div>
</div>
{% endif %}
