<!DOCTYPE html>
<html>
	{% include head.html %}
    <body>
		<div><h1>{{ site.title }}</h1></div>
		{% include navbar.html %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<h1 class="text-center">{{ page.title }}</h1>
					<p class="text-right">Posted on {{ page.date | date: '%B %-d, %Y' }}</p>
					{{ content }}
					{% if page.previous %}
						<p class="pull-left"><a href="{{ page.previous.url }}">< {{ page.previous.title }}</a></p>
					{% endif %}
					{% if page.next %}
						<p class="pull-right"><a href="{{ page.next.url }}">{{ page.next.title }} ></a></p>
					{% endif %}
					{% include discus.html %}
				</div>
				<div class="col-sm-4">
					{% include recent-posts.html %}
				</div>
			</div>
		</div>
		{% include google_responsive.html %}
    </body>
</html>
