<!DOCTYPE html>
<html>
	{% include head.html %}
    <body>
		{% include navbar.html %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="lead text-center">
						<h1>{{ page.title }}</h1>
					</div>
					<p class="text-right">Posted on {{ page.date | date: '%B %-d, %Y' }}</p>
					<div class="container-fluid">{{ content }}</div>

					<ul class="pager">
						{% if page.previous %}
							<li class="previous"><a href="{{ page.previous.url }}"><span class="glyphicon glyphicon-step-backward"></span> Previous</a></li>
						{% endif %}
						{% if page.next %}
							<li class="next"><a href="{{ page.next.url }}">Next <span class="glyphicon glyphicon-step-forward"></span></a></li>
						{% endif %}
					</ul>
					{% include discus.html %}
				</div>
				<div class="col-sm-4">
					<div class="well">{% include recent-posts.html %}</div>
					<div class="well">{% include social-media.html %}</div>
					<div>{% include google_responsive.html %}</div>
				</div>
			</div>
		</div><!--/.container -->
		{% include google-analytics.html %}
		{% include tail.html %}
    </body>
</html>
