<!DOCTYPE html>
<html>
	{% include head.html %}
    <body>
		{% include navbar.html %}
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<div class="float-right">{% include social-media.html %}</div>
					<div class="page-header text-center">
						<h1>{{ page.title }}</h1>
					</div>
					{{ content }}						
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<div class="well">{% include google-search.html %}</div>
					<div class="well">{% include recent-posts.html %}</div>
				</div>
			</div>
		{% include google_responsive.html %}
		</div><!--/.container -->
		{% include google-analytics.html %}
		{% include tail.html %}
    </body>
</html>