<!DOCTYPE html>
<html>
	{% include head.html %}
    <body>
		{% include navbar.html %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="container-fluid">
						<div class="page-header text-center">
							<h1>{{ page.title }}</h1>
						</div>
						{{ content }}
					</div>
				</div>
				<div class="col-sm-4">
					{% include recent-posts.html %}
					{% include google-search.html %}
				</div>
			</div>
		</div>
		{% include google_responsive.html %}
		{% include google-analytics.html %}
    </body>
</html>
